
<h3>Your growl has been posted</h3>


<!-- <a href="/add_growl">Growl some more!</a>

<a href="/store_growl">See your growls here</a> -->

<% if @growl_directory.empty? %>
	
	<h4>No Growls posted yet</h4>

<% else %>

	<h4>Your previous Growls</h4>
	
	<ul id="growl-list">
	<% @growl_directory.each do |growl| %>
		<li><%= growl %></li>
	<% end %>
	</ul>

<% end %>
