<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h3>The following item was added successfully:</h3>
<p><%= @growl_name %></p>

<a href="/growl_item">Add more stuff!</a>

<a href="/cart">View your shopping cart</a>

</body>
</html>