<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h3>Enter your growl here</h3>

<form name="form_item" id="form_item" action="/add_growl" method="post">
	<input type="text" placeholder="Item name" name="growl_name" id="growl_name">
	<input type="submit" value="Add it">
</form>

</body>
</html>