<!DOCTYPE HTML>
<html>
<head>
	<title>GROWL brought to you by Lauren Alejandro Jordan</title>
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  		<div class="row">
  			<div class="col-md-12">
  				<br>
  				<br>
				<form align="middle" class="navbar" role="search" name="form_item" id="form_item" action="/add_growl" method="post">
					<div class="container-fluid">	

		  			<div class="form-group">
		    			<input class="form-control" type="text" placeholder="clever quote you write here in" name="growl_name" id="growl_name" maxlength="142">
		  			</div>

		  			<button type="submit" class="btn btn-default">GROWL</button>
		  			</div>	
				</form>
			</div>	
		</div>	

<%= yield %>
				
</body>
</html>