<!DOCTYPE HTML>
<html>
<head>
	<title></title>
</head>
<body>
	<%= yield %>
		<form class="navbar-form navbar-left" role="search" name="form_item" id="form_item" action="/add_growl" method="post">
  			<div class="form-group">
    			<input class="form-control" type="text" placeholder="Put growl here" name="growl_name" id="growl_name" maxlength="142">
  			</div>
  			<button type="submit" class="btn btn-default">GROWL</button>
		</form>

		
	

</body>
</html>