<!DOCTYPE HTML>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
	<%= yield %>

	

	<div class="jumbotron">
  		<h1>Growler</h1>
  	
  	
			<div class="container-fluid">
				<form class="navbar-form navbar-left" role="search" name="form_item" id="form_item" action="/add_growl" method="post">
		  			<div class="form-group">
		    			<input class="form-control" type="text" placeholder="Put growl here" name="growl_name" id="growl_name">
		  			</div>
		  			<button type="submit" class="btn btn-default">GROWL</button>
				</form>
			</div>	
	</div>

</body>
</html>